.jumbotron {
    height: 180px;
    /* height: 75%; */
    width: 75%;
    margin: auto;
    background: #1E90FF;
    padding: auto;
    margin-top: 20px;
    text-align: center;
    border: 3px solid #1E90FF;
    border-radius: 25px;
}

/* .logo {
    float: left;
    clear: left;
} */

img {
    width: 160px;
    height: 160px;
    /* float: left; */
    position: absolute;
    left: 230px;
    top: 30px;

    /* margin-top: 0px; */

}

.epu {
    font-size: 60px;
    font-weight: bolder;
}